<div id="<%= dom_id article %>">
  <div>
    <strong>Tittle:</strong>
    <%= article.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= article.body %>
  </div>

  <div>
    <strong>Cover Image:</strong>
    <%= image_tag article.cover_image.variant(:thumb) if article.cover_image.attached? %>
  </div>

</div>
