<%= link_to "Artigos", admin_articles_path, class: "admin-title" %>

<div class="main-content">
  <div class="row">
    <h2 class="admin-subtitle">Visualizar artigo</h2>
  </div>
</div>

<%= render "form", article: @article%>
