<h1 class="admin-title">Autores</h1>
<div class="main-content">
  <div class="row">
    <h2 class="admin-subtitle">Listagem de Autores</h2>
    <div class="buttons">
      <%= link_to new_admin_author_path, class: "button small" do %>
        <%= image_tag "icons/white/add.svg", alt: "add" %>
        Adicionar novo Autor
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Data de criação</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @authors.each do |author| %>
          <%= render author, show_view_button: true %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>