.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: 0;
  appearance: none;
  display: inline-flex;
  font-weight: $font-weight-bolder;
  background-color: $color-primary;
  color: $color-primary-contrast;
  border-radius: $radius;
  padding: $element-padding ($element-padding * 2);
  font-size: $element-font-size;
  transition: background-color $animation-transition;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: $element-padding;

  &:hover {
    background-color: darken($color-primary, $animation-hover-percent);
  }

  &:active { 
    background-color: darken($color-primary, $animation-active-percent);
  }

  @include bp-medium() {
    font-size: $element-small-font-size;
  }
}

input[type="file"]::file-selector-button,
input[type="file"]::-webkit-file-upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: 0;
  appearance: none;
  display: inline-flex;
  font-weight: $font-weight-bolder;
  background-color: $color-primary;
  color: $color-primary-contrast;
  border-radius: $radius;
  padding: $element-padding ($element-padding * 2);
  font-size: $element-font-size;
  transition: background-color $animation-transition;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: $element-padding;
}

input[type="file"]::file-selector-button:hover,
input[type="file"]::-webkit-file-upload-button:hover {
  background-color: darken($color-primary, $animation-hover-percent);
}

input[type="file"]::file-selector-button:active,
input[type="file"]::-webkit-file-upload-button:active {
  background-color: darken($color-primary, $animation-active-percent);
}

@include bp-medium() {
  input[type="file"]::file-selector-button,
  input[type="file"]::-webkit-file-upload-button {
    font-size: $element-small-font-size;
  }
}

.button > img {
  max-width: 22px;
  max-height: 22px;
}

.button.secondary {
  background-color: $color-secondary;
  color: $color-secondary-contrast;
  transition: background-color $animation-transition !important;

  &:hover {
    background-color: darken($color-secondary, $animation-hover-percent);
  }

  &:active {
    background-color: darken($color-secondary, $animation-active-percent);
  }
}

.button.clean {
  padding: 0;
  background-color: transparent;
  color: $color-primary;
}

.button.clean.small {
  padding: 0;
}

.button.small {
  padding: $element-small-padding ($element-small-padding * 2);
  font-size: $element-small-font-size;
}

.button.full {
  width: 100%;
}

form.full {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.button.google,
.button.facebook,
.button.apple {
  display: flex;
  align-items: center;
  gap: 12px;
  max-height: 44px;
  transition: opacity $animation-transition;

  &:hover {
    opacity: 0.8;
  }

  .button-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.button.light {
  font-weight: $font-weight-regular;
}

.button.align-center {
  align-self: center;
}

.button.google {
  border: 1px solid #d0d0d0;
  background-color: #fff;

  .button-icon {
    background-image: url("icons/colored/google.svg");
  }

  .button-label {
    color: #757575;
  }
}
.button.facebook {
  background-color: #1877f2;

  .button-icon {
    background-image: url("icons/white/facebook.svg");
  }

  .button-label {
    color: #fff;
  }
}
.button.apple {
  background-color: #000;

  .button-icon {
    background-image: url("icons/white/apple.svg");
  }

  .button-label {
    color: #fff;
  }
}
